<section class="container">
  <h1>Detalle del usuario</h1>
  <div class="user__card">
    <figure class="user__image">
      <img [src]="user?.image" [alt]="user?.username" />
    </figure>
    <div class="user__info">
      <h3>{{ user?.first_name }}</h3>
      <h3>{{ user?.last_name }}</h3>
      <h4>Nombre del usuario: {{ user?.username }}</h4>
      <h4>Email: {{ user?.email }}</h4>
      <div>
        <button type="button" class="btn" [routerLink]="'/home'">
          <div>
            <i class="fa-solid fa-arrow-rotate-left button-icon"></i>
            <span>Volver</span>
          </div>
        </button>
        <button
          type="button"
          class="btn"
          [routerLink]="['/user', user?._id, 'updateuser']"
        >
          <div>
            <i class="fa-solid fa-pen button-icon"></i>
            <span>Actualizar</span>
          </div>
        </button>
        <button type="button" class="btn" (click)="deleteUser(user?._id)">
          <div>
            <i class="fa-solid fa-trash button-icon"></i>
            <span>Borrar</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
